/* .pirveli{
    background-color: #0a22f4;
    display: inline-block;
    width: 1920px;
    height: 1080px;
}
.sami-h3 {
    font-size: 32px;
    color: #ffffff;
}
.contacts-para {
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    width: 463px;
}
.map-image{
    width: 200px;
    height: 100px;
    border-radius: 16px;
    margin-top: 58px;
}
.phone-para, .mail-para {
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    margin-left: 20px;
}
.call-img, .mail-img {
    width: 26px;
    height: 26px;
    display: inline-block;
}
.phone-div, .mail-div {
    display: inline-block;
    margin-top: 82px;
}
.meore {
    display: inline-block;
    margin-left: 240px;
    margin-top: 275px;
}
.mail-div{
    margin-left: 98px;
}
.form {
    margin-left: 503px;
    display: inline-block;
    position: absolute;
    margin-top: 373px;
}
input {
    background-color: #0a22f4;
    width: 463px;
    height: 60px;
    margin-top: 40px;
    border: none;
    border-bottom: groove;
    border-width: 1px;
}
button {
    margin-top: 40px;
    border: none;
    height: 55px;
    width: 151px;
    margin-left: 310px;
    border-radius: 32px;
}
.footer-para {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
}
.footer-left {
    margin-left: 240px;
    margin-top: 206px;
}
.footer-right{
    margin-left: 1400px;
}
::placeholder {
    color: #ffffff;
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/* } */
/* section.bolo-gverdi{
    background-color: blue;
    width: 100%;
}
div.kontaqti{
    display: inline-block;
    padding: 40px;
    border: 30px;
    text-align: left;
    left: 240px;
    color: white;
    height: 100%;
    width: 40%;
}
.map{
    display: block;
    left: 250px;
    width: 463px;
    height: 197px;
} */ 
body{
    background-color: blue;
}
.kontaqti{
    width: 500px;
    height: 500px;
    margin-top: 275px;
    margin-left: 100px;
}
.kontaqti p{
    color: white;
    margin-bottom: 58px;
}
.kontaqti h3{
    color: white;
    font-size: 32px;
}
.flex{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.call{
    margin-left: 100px;
}
.call img{
    background-color: white;
    display: block;
    border-radius: 50%;
    height:50px;
}
.mail{
    margin-left: 100px;
}
.mail img{
    background-color: white;
    border-radius: 50%;
    height: 50px;
    display: inline-block;
}
input {
    background-color: #0a22f4;
    width: 463px;
    height: 60px;
    margin-top: 40px;
    border: none;
    border-bottom: groove;
    border-width: 1px;
}
textarea{
    background-color: #0a22f4;
    width: 463px;
    height: 60px;
    margin-top: 40px;
    border: none;
    border-bottom: groove;
    border-width: 1px;
    resize: none;
}
button {
    margin-top: 40px;
    border: none;
    height: 55px;
    width: 151px;
    margin-left: 310px;
    border-radius: 32px;
}
form {
    margin-left: 1000px;
    display: block;
    position: absolute;
    margin-top: 373px;
    margin-right: 24px;
    padding-right: 100px;
}
.footerflex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left: 5px;
    margin-top: 100px;
    color: white;
}
.footer-1{
    margin-left: 100px;
    color: white;
}
.img1{
    margin-left: 20px;
}